
    <div id="pad">
        <div id="r" class="text-center" ng-click="move('R')"><i class="icon ion-chevron-right"></i></div>
        <div id="l" class="text-center" ng-click="move('L')"><i class="icon ion-chevron-left"></i></div>
        <div id="u" class="text-center" ng-click="move('U')"><i class="icon ion-chevron-up"></i></div>
        <div id="d" class="text-center" ng-click="move('D')"><i class="icon ion-chevron-down"></i></div>
    </div>

    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>


